:root {
    --bg-color: #eaeaea;
    --color-blue: #1d4ed8;  /* warna biru 700 */
    --color-white: #ffffff; /* warna putih */
    --color-grey: #333333; /* warna abu abu */
}

/* css reset */
html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* use font */
@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}


/* body */
body {
    font-family: "Roboto";
    font-size: 16px;
    background-color: #ffffff;
}


/* navbar */

/* .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
} */
nav {
    display: flex;
    position: relative;
    background-color: var(--color-blue);
    padding: 8px 7%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    
}

nav .logo h1 {
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}

nav .menu {
    list-style-type: none;
    display: flex;
    /* flex-direction: row; */
}

/* nav .menu.active {
    display: flex;
    flex-direction: column;
} */

nav .menu-toggle {
    display: none;
    background-color: transparent;
    font-size: 22px;
    border: none;
    cursor: pointer;
    color: #ffffff;
}

nav .menu > li {
    position: relative;
}

nav .menu > li > a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav .menu > li > a:hover {
    background-color: red;
}

nav .menu > .dropdown > .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    padding: 0;
    list-style-type: none;
    z-index: 100;
    width: 200px;
}

nav .menu > .dropdown > .dropdown-menu > li > a {
    color: #333;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}

nav .menu > .dropdown > .dropdown-menu > li > a:hover {
    background-color: #eaeaea;
    
}

nav .menu .dropdown:hover .dropdown-menu {
    display: block;
}

nav .theme {
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
}


/* carousel */
.carousel {
    position: relative;
    overflow: hidden;
    /* background-color: red; */
}

.carousel .carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.carousel .carousel-slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-prev, .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 99;
}

.btn-prev {
    left: 10px;
}

.btn-next {
    right: 10px;
}

.btn-prev:hover, .btn-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* responsive */
@media (max-width: 768px) {
    nav .menu-toggle {
        display: inline-block;
    }

    nav .menu {
        position: absolute;
        top: 100%;
        
        left: -100%;
        height: 100vh;
        z-index: 200;
        /* width: 30rem; */
        background-color: #ffffff;
        
        transition: 1s;
        flex-direction: column;
    }

    nav .menu.active {
        left: 0;
    }

    nav .menu li a {
        display: block;
        color: #333;
    }

    nav .menu li a:hover {
        background-color: #eaeaea;
    }
}