:root {
    --nav-bg: #0d6efd;
    --nav-bg-hover: #0b5ed7;
    --color-nav: #333333;
    --color-box: #0d6efd;
    --bg-body: #ffffff;
    --color-body: #333333;
    --bg-body-2: #333333;
    --color-text: #333333;
    --hr-1: #ffffff;
    --hr-2: #333333;
    --footer-bg: #0d6efd;
    /* --footer-text: #ffffff; */
}


/* css reset */
html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* use font */
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}


/* body */
body {
    font-family: "Roboto";
    font-size: 16px;
    background-color: var(--bg-body);
    color: var(--color-body);
}


/* theme */
.dark-mode {
    --nav-bg: #121212;
    --nav-bg-hover: #0A0A0A;
    --color-nav: #ffffff;
    --color-box: #121212;
    --bg-body: #1E1E1E;
    --color-body: #ffffff;
    --bg-body-2: #1E1E1E;
    --color-text: #ffffff;
    --hr-1: ;
    --hr-2: #ffffff;
    --footer-bg: #121212;
    /* --footer-text: #333333; */
}


/* hr */
.hr-ulasan {
    width: 150px;
    margin: 5px auto;
    border-bottom: 3px solid var(--color-text);
}

.hr-jurusan, 
.hr-contact {
    width: 150px;
    margin: 5px auto;
    border-bottom: 3px solid var(--color-text);
}


/* section empty */
.empty {
    min-height: 100vh;
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* navbar */
nav {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--nav-bg);
    padding: 0 7%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 1px var(--color-nav);
    z-index: 300;
    width: 100%;
}

nav .logo h1 {
    font-weight: bold;
    font-style: italic;
    /* color: var(--color-nav); */
    color: #ffffff;
}

nav .menu {
    list-style-type: none;
    display: flex;
}

nav .menu-toggle {
    display: none;
    background-color: transparent;
    font-size: 22px;
    border: none;
    cursor: pointer;
    /* color: var(--color-nav); */
    color: #ffffff;
}

nav .menu > li {
    position: relative;
}

nav .menu > li > a {
    /* color: var(--color-nav); */
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

nav .menu > li > a:hover {
    /* background-color: var(--nav-bg-hover); */
    background-color: var(--nav-bg-hover);
}

nav .menu .dropdown:hover > a {
    /* background-color: var(--nav-bg-hover); */
    background-color: var(--nav-bg-hover);
}

nav .menu > .dropdown > .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    padding: 0;
    list-style-type: none;
    z-index: 100;
    width: 200px;
}

nav .menu > .dropdown > .dropdown-menu > li > a {
    color: #333;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}

nav .menu > .dropdown > .dropdown-menu > li > a:hover {
    background-color: #eaeaea;
    /* background-color: yellow; */
}

nav .menu .dropdown:hover .dropdown-menu {
    display: block;
}

nav .theme {
    font-size: 22px;
    /* color: var(--color-nav); */
    color: #ffffff;
    cursor: pointer;
    background-color: transparent;
    border: none;
}


/* carousel */
.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
}

.carousel .carousel-slides {
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    background-attachment: fixed;
}

.carousel .carousel-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 99;
}

.carousel .carousel-dots .dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel .carousel-dots .dot.active {
    background-color: rgba(255, 255, 255, 0.9);
}

/* .btn-prev, .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 99;
}

.btn-prev {
    left: 10px;
}

.btn-next {
    right: 10px;
}

.btn-prev:hover, .btn-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
} */


/* section sambutan */
.sambutan-container {
    width: 100%;
    background-color: var(--bg-body);
    color: var(--color-body);
    min-height: 500px;
}
.sambutan {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 40px 20px;
    /* color: ; */
}

.sambutan h2 {
    margin-bottom: 20px;
}

.sambutan img {
    width: 300px;
}


/* section jurusan */
.jurusan-container {
    /* background-color: var(--bg-body); */
    width: 100%;
    min-height: 500px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.jurusan-container .title {
    margin-bottom: 20px;
}

.title h2 {
    color: var(--color-text);
}

.jurusan-container .wrap {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.jurusan-container .jurusan {
    padding: 20px;
    background-color: var(--color-box);
    color: #ffffff;
    /* background-color: var(--color-box);
    color: #eaeaea; */
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.jurusan-container .jurusan i {
    font-size: 40px;
    margin-bottom: 20px;
}


/* section ulasan */
.ulasan-container {
    width: 100%;
    /* border-top: 5px solid red; */
    min-height: 500px;
    /* background-color: var(--bg-body-2); */
    background-color: var(--bg-body);
    padding: 60px 0;
}

.ulasan-container .title h2 {
    /* color: #ffffff; */
    text-align: center;
}

.ulasan-container .ulasan {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    gap: 20px;
    overflow-x: visible;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.ulasan-container .ulasan .item-ulasan {
    /* box-shadow: 0px 0px 5px black; */
    /* background-color: #ffffff; */
    text-align: center;
    padding: 20px;
    min-width: 250px;
    max-width: 250px;
}

.ulasan-container .ulasan .item-ulasan img {
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
}


/* section contact */
.contact {
    width: 100%;
    min-height: 500px;
    /* background-color: var(--bg-body); */
    background-color: var(--bg-body);
    padding: 40px 0;
}

.contact .wrap {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
}

.contact .wrap .left {
    flex: 1 1 700px;
    align-items: stretch;
}

.map {
    width: 100%;
    height: 500px;
    border: none;
}

.contact .wrap .right {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
    text-align: center;
    padding: 20px;
    flex: 1 1 300px;
    align-items: stretch;
}

.contact .wrap .right a {
    padding: 8px 16px;
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

.contact .wrap .right .title h2 {
    color: var(--color-text);
}

.btn-ig {
    background-color: #FD1D1D;
}

.btn-fb {
    background-color: #1877F2;
}
.btn-wa {
    background-color: #25D366;
}

.btn-ig:hover {
    background-color: #E10000;
}

.btn-fb:hover {
    background-color: #165EBD;
}

.btn-wa:hover {
    background-color: #1A9A5B;
}


/* footer */
footer {
    /* background-color: var(--footer-bg); */
    background-color: var(--footer-bg);
    color: #ffffff;
    padding: 16px 0;
    text-align: center;
    margin-top: 100px;
}


/* other pages */
.profil-guru-container {
    width: 100%;
    margin-top: 60px;
    min-height: 500px;
}

.profil-guru-container .profil-guru-wrap {
    /* background-color: #eaeaea; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.profil-guru-wrap .item {
    width: 300px;
    padding: 20px;
    background-color: #eaeaea;
    text-align: center;
    color: #333;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    /* border: 1px solid #333; */
}

.profil-guru-wrap .item img {
    width: 150px;
    margin: 0 auto;
    border-radius: 10px;
    border: 3px solid #fff;
}


/* section ekskul */
.ekskul {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    
    /* display: flex;
    justify-content: center; */
}

.ekskul-wrap {
    /* background-color: cyan; */
    margin-bottom: 20px;
    text-align: center;
}

.ekskul-wrap img {
    width: 100%;
    height: auto;
    /* border: 5px solid red; */
}


/* section prestasi */
.prestasi {
    margin-top: 100px;
    text-align: center;
    /* min-height: 500px; */
}

.prestasi .tahun-prestasi {
    /* gap: 20px; */
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    /* background-color: red; */
    padding: 20px;
}

.prestasi .tahun-prestasi button {
    /* background-color: #333;
    color: #fff; */
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    /* gap: 20px; */
}

.prestasi .tahun-prestasi button.active {
    background-color: #333;
    color: #fff;
}

.prestasi .row {
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* background-color: yellow; */
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
}

.prestasi .row.active {
    display: flex;
}

.prestasi .row .item-prestasi {
    width: 300px;
    /* background-color: red; */
    /* border: 3px solid #333; */
    box-shadow: 0px 0px 5px #333;
   
}

.prestasi .row .item-prestasi img {
    width: 100%;
}


/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

@keyframes animationModal {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.modal .modal-content {
    position: relative;
    background-color: #ffffff;
    color: #333333;
    margin: 10% auto;
    max-width: 50%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    animation: animationModal 0.5s;
    
}

.modal .modal-content button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    background-color: transparent;
    border: none;
    /* background-color: red; */
    color: #333333;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 8px;
}

.modal .modal-content button:hover {
    color: red;
}

.modal .modal-content img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.modal .modal-content .wrap-right {
    flex: 1;
    padding: 20px;
    /* background-color: red; */
}


/* section galeri foto */
.galeri-foto {
    /* background-color: #25D366; */
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* box-shadow: 5px 5px 5px red; */
}

.galeri-foto img {
    width: 300px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
    
}

.galeri-foto .item h3 {
    text-align: center;
    margin: 5px auto;
}





/* responsive */

/* laptop 1200 */
@media (max-width: 1200px) {
    .modal .modal-content {
        max-width: 90%;
    }
}


/* tablet 768 */
@media (max-width: 768px) {

    nav {
        padding: 10px 7%;
    }
    nav .menu-toggle {
        display: inline-block;
    }

    nav .menu {
        position: absolute;
        top: 100%;
        left: -100%;
        height: 100vh;
        z-index: 200;
        width: 30vw;
        background-color: #ffffff;
        transition: 0.5s;
        flex-direction: column;
    }

    nav .menu.active {
        left: 0;
    }

    nav .menu li a {
        display: block;
        color: #333;
        padding: 10px 20px;
    }

    nav .menu li a:hover {
        background-color: #eaeaea;
    }

    nav .menu .dropdown:hover > a {
        background-color: #eaeaea;
    }

    nav .menu .dropdown .dropdown-menu {
        width: 30vw;
    }

    .sambutan {
        flex-direction: column;
        width: 90vw;
    }

    .sambutan h2 {
       margin: 10px auto;
       text-align: center;
    }

    .sambutan img {
        order: -1;
        width: 200px;
        margin: 0 auto;
    }

    .modal .modal-content {
        flex-direction: column;
        max-width: 90%;
        margin: 5% auto;
    }

    .modal .modal-content img {
        max-width: 100%;
    }

    .modal .modal-content .wrap-right {
        padding: 10px;
    }
}


/* mobile phone */
@media (max-width: 450px) {
    nav .menu {
        width: 100vw;
    }

    nav .menu .dropdown .dropdown-menu {
        width: 100vw;
    }

    .carousel {
        height: 60vh;
    }

    .sambutan img {
        width: 125px;
    }

    .jurusan-container {
        width: 100vw;
    }

    .contact .wrap {
        width: 100vw;
    }

    .contact .wrap .left,
    .contact .wrap .right {
        flex: 1 1 100%;
    }

    .map {
        height: 300px;
    }

    .modal .modal-content {
        margin: 5% auto;
        padding: 15px;
    }

    .modal .modal-content button {
        font-size: 20px;
        margin-top: 5px;
        margin-right: 5px;
    }
    /* .modal .modal-content {
        width: 80%;
        flex-direction: column;
    }

    .modal .modal-content img {
        
    } */
    
}